{% extends 'shop/base.html' %}
{% load staticfiles %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'shop/detail.css' %}"/>     
{% endblock %}

{%block content %}
    <div class="container">
                <div class="wrapper row">
                    <div class="preview col-md-6">              
                       <img src="{{ product.image.url }}">                        
                    </div>
                    <div class="details col-md-6">
                        <h3 class="product-title">{{ product.name }}</h3>

                        <p class="product-description"> {{ product.description }} </p>
                        <h4 class="price">current price: <span>&#3647;</span>{{ product.price }}</h5></h4>

                        <div class="action">
                            <button class="add-to-cart btn btn-default" type="button"><a href="{% url 'shopping:shopping-cart-add'%}?id={{product.id}}">add to cart</button>
                            <button class="btn btn-default" type="button"><a href="{% url 'shop:show_product' %}"><span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping </a></button>
                        </div>
                    </div>
                </div>
    </div>
    <div class="before-footer">
    </div>
{% endblock %}
