{% extends 'shop/base.html' %}

{% block content %}
    {% for product in all_product %}
    <div class="col-sm-3">.
        <div class="thumbnail">
            <a href="{% url 'shop:detail' product.id %}">
                    <img src = "{{product.image.url}}" class="img-responsive">
            </a>
            <div class="caption">
                <h3> {{ product.name }} </h3>
                <h4> {{ product.brand }}</h4>
                <a href="{% url 'shop:detail' product.id %}" class="btn btn-primary btn-sm" role="button">View Detail</a>
            </div>
        </div>
    </div>
    {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
    {% endfor %}
{% endblock %}
