{% extends 'shop/base.html' %}
{% load staticfiles %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'shop/login-page.css' %}"/>
<script src="{% static 'shop/js/login-page.js' %}"></script>    
{% endblock %} 

{% block content %}
<!--
    you can substitue the span of reauth email for a input with the email and
    include the remember me checkbox
    -->
    <div class="container">
        <div class="card card-container">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin" method="post">
                <span id="reauth-email" class="reauth-email"></span>
                {% csrf_token %}
                <font color="black">
                {% for field in form %}
                        {{ field.label }}
                        {{ field }}
                {% endfor %}
                </font>
               <!-- <input type="username" id="inputEmail" class="form-control" placeholder="Username" required autofocus>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>-->
                <div id="remember" class="checkbox" class="remember-me">
                    <label>
                        <input type="checkbox" value="remember-me">
                            <a  class="remember-me">
                                Remember me
                            </a>
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
            </form>
            <a href="#" class="forgot-password">
                Forgot the password?
            </a>
        </div><!-- /card-container -->
    </div><!-- /container -->
{% endblock %}
