{% extends 'shop/base.html' %}
{% load staticfiles %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'shop/member.css' %}"/>
<script src="{% static 'shop/js/member.js' %}"></script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h4>User Profile</h4></div>
                <div class="panel-body">
                    <div class="box box-info">
                        <div class="box-body">
                            <div class="col-sm-12">
                                <div align="center"><img alt="User Pic"
                                 src="https://openclipart.org/download/247320/abstract-user-flat-4.svg"
                                 id="profile-image1" class="img-circle img-responsive">

                                 <!--Upload Image Js And Css-->
                             </div>

                             <br>

                             <!-- /input-group -->
                         </div>
                         
                        <div class="clearfix"></div>
                        <hr style="margin:5px 0 5px 0;">


                        <div class="col-sm-5 col-xs-6 tital ">First Name:</div>
                        <div class="col-sm-7 col-xs-6 ">{{ user.first_name }}</div>
                        <div class="clearfix"></div>
                        <div class="bot-border"></div>

                        <div class="col-sm-5 col-xs-6 tital ">Last Name:</div>
                        <div class="col-sm-7">{{ user.last_name }}</div>
                        <div class="clearfix"></div>
                        <div class="bot-border"></div>

                        <div class="col-sm-5 col-xs-6 tital ">Username</div>
                        <div class="col-sm-7">{{ user.username }}</div>
                        <div class="clearfix"></div>
                        <div class="bot-border"></div>

                        <div class="col-sm-5 col-xs-6 tital ">Email</div>
                        <div class="col-sm-7">{{ user.email }}</div>
                        <div class="clearfix"></div>
                        <div class="bot-border"></div>

                        <div class="col-sm-5 col-xs-6 tital ">Phone Number</div>
                        <div class="col-sm-7">{{ user.tels }}</div>
                        <div class="clearfix"></div>
                        <div class="bot-border"></div>

                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->

                </div>


            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <section class="content">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                    <h1>Your Order</h1>                    
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-success btn-filter" data-target="pagado">Accepted</button>
                                <button type="button" class="btn btn-warning btn-filter" data-target="pendiente">Pending</button>
                                <button type="button" class="btn btn-danger btn-filter" data-target="cancelado">SomeThingWrong</button>                                
                            </div>
                        </div>

                        {% for ord in order %}

                        <div class="table-container">
                            <table class="table table-filter">
                                <tbody>
                                    <tr data-status="{{ ord.status }}">                       
                                        <td>
                                            <div class="media">
                                                <div class="media-body">
                                                    <span class="media-meta">{{ ord.date }}</span><br>
                                                    {% if ord.status == 'A' %}
                                                    <span class="Accepted">Accepted</span><br>
                                                    {% endif %}
                                                    {% if ord.status == 'P' %}
                                                    <span class="Pending">Pending</span><br>
                                                    {% endif %}
                                                    {% if ord.status == 'W' %}
                                                    <span class="SomeThingWrong">SomeThingWrong</span><br>
                                                    {% endif %}
                                                    <p>{{ ord.id }}</p>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        
    </div>
</div>
<div class="before-footer"></div>
{% endblock %}
