{% extends 'shop/base.html' %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'shop/product.css' %}"/>
{% endblock %}


{% block content %}
<div class="containerproduct">
<div class="row">
  <div class="after-navbar">
  </div>
  {% for product in all_product %}
  <div class="col-md-3">
    <div class="product-item">
      <div class="pi-img-wrapper">
      <img src="{{ product.image.url }}" class="img-responsive" alt="{{ product.name }}">
        <div>
          <a href="{% url 'shop:detail' product.id %}" class="btn">View Detail</a>          
        </div>
      </div>
      <h3><a href="{% url 'shop:detail' product.id %}"> {{ product.name }}</a></h3>
      <div class="pi-price">{{ product.price }}฿</div>
      <a href="#" class="btn add2cart">Add to cart</a>
      <div class="sticker sticker-new"></div>
    </div>
  </div>
  <!-- if last column in row -->
  {% if forloop.counter|divisibleby:3 and not forloop.last %}
</div><br><div class="row">
{% endif %}
{% endfor %}
</div><br>
</div>
<div class="before-footer">
</div>
{% endblock %}