{% extends 'shop/base.html' %}
{% load staticfiles %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'shop/shopping-cart.css' %}"/>
{% endblock %}
{% load carton_tags %}
{% block content %}
{% get_cart as cart %}
<div class="pre">
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Total</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart.items %}
                    <tr>
                        <td class="col-sm-8 col-md-6">
                        <div class="media">
                            <a class="thumbnail pull-left" href="{% url 'shop:detail' item.product.id %}"> <img class="media-object" src="{{ MEDIA_URL }}{{ item.product.image.url }}" style="width: 72px; height: 72px;" > </a>
                            <div class ="margin-img">
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="{% url 'shop:detail' item.product.id %}">{{ item.product.name }}</a></h4>
                                    <button type="button" class="btn btn-default"> <a href="{% url 'shopping:shopping-cart-remove-single' %}?id={{ item.product.id }}">
                                        <span class="glyphicon glyphicon-minus"></span></a>
                                    </button>
                                    <button type="button" class="btn btn-default"> <a href="{% url 'shopping:shopping-cart-add' %}?id={{ item.product.id }}">
                                        <span class="glyphicon glyphicon-plus"></span></a>
                                    </button>
                            </div>
                            </div>
                        </div>
                        </td>
                        <td class="col-sm-1 col-md-1" style="text-align: center"><strong>{{ item.quantity }}</strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong><span>&#3647;</span>{{ item.product.price }}</strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong><span>&#3647;</span>{{ item.subtotal }}</strong></td>
                        <td class="col-sm-1 col-md-1">
                        <button type="button" class="btn btn-default"><a href="{% url 'shopping:shopping-cart-remove' %}?id={{ item.product.id }}">
                            <span class="glyphicon glyphicon-remove"></span> Remove
                        </a></button></td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Total</h3></td>
                        <td class="text-right"><h3><span>&#3647;</span>{{ cart.total }}</h3></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                        <button type="button" class="btn btn-default"><a href="{% url 'shop:show_product' %}">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                        </a></button>
                        </td>
                        <td>
                        {% if cart.is_empty == 0 %}
                            <button type="button" class="btn btn-default"><a href="{% url 'shopping:checkout' %}">
                                    Checkout <span class="glyphicon glyphicon-play"></span>
                                </a>
                            </button>
                        {% endif %}
                        </td>

                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<div class="end">
</div>
{% endblock %}